input {
  margin-right: 5px;
}

input[type='number']:not(.offset) {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type='number'] {
  margin-top: 5px;
}

input[type='range']:not(.zoom) {
  background-color: transparent;
  height: 5px;
  margin-right: 0px;
  margin-left: 0px;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #0ec978;
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #0ec978; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}

div:not(.siteContainerDiv) {
  display: inline-block;
}

body {
  background-color: rgb(221,221,221);
}

canvas {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

a {
  color: black;
}

a:visited {
  color: black;
}

.darkButton {
  border: 1px solid #cccccc;
  background-color: #333333;
  color: white;
}
.darkButton:hover {
  background-color: #555555;
}
.darkButton:active {
  background-color: #777777;
}

.lightButton {
  border: 1px solid #111111;
  background-color: #eeeeee;
  color: black;
}
.lightButton:hover {
  background-color: #cccccc;
}
.lightButton:active {
  background-color: #aaaaaa;
}

.siteContainerDiv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.inputsDiv {
  margin-right: 10px;
  margin-left: 10px;
  width: 400px;
  height: 670px;
  background-color: #eeeeee;
  padding: 10px;
}

.zoomSliderDiv {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 180px;
}

.zoom {
  -webkit-appearance: slider-vertical;
  background-color: transparent;
  width: 10px;
  height: 300px;
}

#resetAll {
  margin-bottom: 10px;
}

#canvas-div {
  margin-left: 10px;
}

#footer {
  position: fixed;
  bottom: 0%;
  left: 1.3%;
}